 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Dipanjan Bhattacharya has more than 30 years of teaching experience and is widely popularly and fondly known as DB Sir among his students. He graduated in Mathematics and completed his Post Graduation in Statistics. He has also consulted with West Bengal Statistical Consultancy Services (WEBCON).</p>
                </div>
                <div class="col-lg-4">
                    <p>He takes a keen interest in understanding the subject matter and making it easy and approachable. 
                        He has completed his Actuarial Science Papers – in Statistics (CT3), Statisticakl Models(CT6) and Statistical and Math related Project Work (CT9). 
                         </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
